# Binary or data directories
/compressed_hacks/
/exps/
/hacks/
/levels/
/roms/
/stats/
/tools/

# Archives
*.7z
*.tar
*.tar.gz
*.zip

# Data files
*.smc
*.bps

# Level data
*.bg
*.exits
*.ent
*.ent2
*.map
*.sp

# LaTeX
_region_.tex
*.aux
*.out
*.toc
*.dvi
*.pdf
*.synctex.gz
*.bbl
*.bcf
*.blg
*.run.xml
/thesis/auto/

# Org
*.pyg
/presentation/org/*.tex
/presentation/org/*.odt
/presentation/org/*.html
/presentation/org/auto/

# Other stuff
*.bak
*.dll
*.exe
*.jld
*.jdb
*.log
sysLMRestore/
